<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container" id="container">
    <form action="/login" method="post" modelAttribute="userLogin">
        <h1>Sign In To Your Account</h1>
        <input  id="username" name="username" type="text" placeholder="Username"/>
        <input id="password" name="password" type="password" placeholder="Password"/>
        <!--            <input type="repassword" placeholder="Repeat password"/>-->
        <button>Sign In</button>
    </form>
</div>
<script src="script.js"></script>
</body>
</html>