<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container" id="container">
    <form action="/sign-up" method="post" th:modelAtribute="userSignUp">
        <h1>Create Account</h1>
        <input id="username" name="username" type="text" placeholder="Username"/>
        <input id="email" name="email" type="email" placeholder="Email"/>
        <input id="password" name="password" type="password" placeholder="Password"/>
        <p></p>
        <button>Sign Up</button>
        <p>OR</p>
        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">
            <button type="button">
                SIGN IN
            </button>
        </a>
    </form>
</div>

<script src="/js/script.js"></script>
</body>
</html>